
@{
    ViewBag.Title = "DatosEmpleados";
}

<h2>DatosEmpleados</h2>
<a href="~/Empleado/FormularioEmpleado" type="button" class="btn btn-primary">Nuevo Empleado</a>
<table class="table table-hover">
    <tr>
        <th>No. Empleado</th>
        <th>Nombre</th>
        <th>Puesto</th>
        <th>Serie PC</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
        <td>@item.No_emp</td>
        <td>@item.nombre</td>
        <td>@item.puesto</td>
        <td>@item.Maquinas.SeriePC</td>

        <td><a href="~/Empleado/FormularioEmpleado?No_emp=@item.No_emp" class="btn btn-info">Editar</a></td>
        <td><a href="~/Empleado/Eliminar?No_emp=@item.No_emp" class="btn btn-warning">Baja</a></td>
        </tr>
    }
</table>
